.thumbs {
  > div {
    display: inline-block;
    background-color: #ddd;
    margin: 10px;
    width: 130px;
  }

  .thumb {
    background: url('/images/video-placeholder.png') no-repeat center 0;
    height: 120px;
  }

  img {
    display: block;
  }
}
